<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>CrudProject</display-name>
  <welcome-file-list>
    <welcome-file>ListerClient</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ListerClientServlet</display-name>
    <servlet-name>ListerClientServlet</servlet-name>
    <servlet-class>ListerClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListerClientServlet</servlet-name>
    <url-pattern>/ListerClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjouterClientServlet</display-name>
    <servlet-name>AjouterClientServlet</servlet-name>
    <servlet-class>AjouterClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterClientServlet</servlet-name>
    <url-pattern>/ajouterClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteClientServelet</display-name>
    <servlet-name>DeleteClientServelet</servlet-name>
    <servlet-class>DeleteClientServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteClientServelet</servlet-name>
    <url-pattern>/DeleteClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateClientServlet</display-name>
    <servlet-name>UpdateClientServlet</servlet-name>
    <servlet-class>UpdateClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateClientServlet</servlet-name>
    <url-pattern>/UpdateClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecupeClientServelet</display-name>
    <servlet-name>RecupeClientServelet</servlet-name>
    <servlet-class>RecupeClientServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecupeClientServelet</servlet-name>
    <url-pattern>/RecupeClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowProfilServelet</display-name>
    <servlet-name>ShowProfilServelet</servlet-name>
    <servlet-class>ShowProfilServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProfilServelet</servlet-name>
    <url-pattern>/ShowProfil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AfficherPaimentServelet</display-name>
    <servlet-name>AfficherPaimentServelet</servlet-name>
    <servlet-class>AfficherPaimentServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AfficherPaimentServelet</servlet-name>
    <url-pattern>/AfficherPaiment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPaimentServelet</display-name>
    <servlet-name>AddPaimentServelet</servlet-name>
    <servlet-class>AddPaimentServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPaimentServelet</servlet-name>
    <url-pattern>/AddPaiment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPaiment1Servelet</display-name>
    <servlet-name>AddPaiment1Servelet</servlet-name>
    <servlet-class>AddPaiment1Servelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPaiment1Servelet</servlet-name>
    <url-pattern>/AddPaiment1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AfficherListPaimentServelet</display-name>
    <servlet-name>AfficherListPaimentServelet</servlet-name>
    <servlet-class>AfficherListPaimentServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AfficherListPaimentServelet</servlet-name>
    <url-pattern>/AfficherListPaimentServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AfficherListPaimentServlet</display-name>
    <servlet-name>AfficherListPaimentServlet</servlet-name>
    <servlet-class>AfficherListPaimentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AfficherListPaimentServlet</servlet-name>
    <url-pattern>/AfficherListPaiment</url-pattern>
  </servlet-mapping>
</web-app>